# --- Données et fichiers générés (Lourds ou personnels) ---
Data/quizzes/
Data/uploads/
Data/vector_store/
Data/*.pdf
Data/*.pkl
Data/*.index

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# --- VS Code & OS ---
.vscode/
.DS_Store
Thumbs.db